<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head-fragment::head"></head>
<body>
<header th:insert="fragments/header-fragment::header"></header>
<main class="d-flex flex-row">
    <nav th:insert="fragments/sidebar-fragment::nav"></nav>
    <section class="container-fluid p-3 d-flex align-items-center justify-content-center border-start">
        <form th:action="@{/administrative/register-client}" th:object="${user}" method="post" autocomplete="off">
            <!--RUT-->
            <div class="mb-3 row" style="min-width: 50rem; max-width: 50rem;">
                <label for="exampleInputRut2" class="col-sm-3 col-form-label">RUT</label>
                <div class="col-sm-9">
                    <input name="rut" type="text" class="form-control" id="exampleInputRut2" aria-describedby="rutHelp2" th:field="*{rut}">
                    <div id="rutHelp2" class="form-text">Sin puntos ni guion, si termina en K, debe ingresar en mayúsculas. Ejemplo: 123456789K.</div>
                    <div th:if="${validRut == false}" class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                        <strong>¡Error!</strong> RUT inválido.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div th:if="${existRut == false}" class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                        <strong>¡Error!</strong> El RUT ya existe en el sistema. Intente iniciar sesión.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <!--FirstName-->
            <div class="mb-3 row" style="min-width: 50rem; max-width: 50rem;">
                <label for="exampleInputFirstName2" class="col-sm-3 col-form-label">Nombres</label>
                <div class="col-sm-9">
                    <input name="name" type="text" class="form-control" id="exampleInputFirstName2" aria-describedby="nameHelp2" th:field="*{firstName}">
                    <div id="nameHelp2" class="form-text">Largo mínimo de 3 caracteres. Ejemplo: Luz María.</div>
                    <div th:each="message :  ${#fields.errors('firstName')}" class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                        <strong>¡Error!</strong>
                        <label th:text="${message}"></label>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <!--LastName-->
            <div class="mb-3 row" style="min-width: 50rem; max-width: 50rem;">
                <label for="exampleInputLastname2" class="col-sm-3 col-form-label">Apellidos</label>
                <div class="col-sm-9">
                    <input name="lastname" type="text" class="form-control" id="exampleInputLastname2" aria-describedby="lastnameHelp2" th:field="*{lastName}">
                    <div id="lastnameHelp2" class="form-text">Largo mínimo de 3 caracteres. Ejemplo: Del Bosque.</div>
                    <div th:each="message :  ${#fields.errors('lastName')}" class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                        <strong>¡Error!</strong>
                        <label th:text="${message}"></label>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <!--Email-->
            <div class="mb-3 row" style="min-width: 50rem; max-width: 50rem;">
                <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Correo electrónico</label>
                <div class="col-sm-9">
                    <input name="email" type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp2" th:field="*{email}">
                    <div id="emailHelp2" class="form-text">Debe contener un “@” antes y después de este. Ejemplo: correo@electronico.</div>
                    <div th:each="message :  ${#fields.errors('email')}" class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                        <strong>¡Error!</strong>
                        <label th:text="${message}"></label>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div th:if="${existEmail == false}" class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                        <strong>¡Error!</strong> El correo electrónico ya existe en el sistema.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <!--Phone-->
            <div class="mb-3 row" style="min-width: 50rem; max-width: 50rem;">
                <label for="exampleInputPhone2" class="col-sm-3 col-form-label">Teléfono</label>
                <div class="col-sm-9">
                    <input name="phone" type="text" class="form-control" id="exampleInputPhone2" aria-describedby="phoneHelp2" th:field="*{phone}">
                    <div id="phoneHelp2" class="form-text">Largo mínimo de 12 dígitos y largo máximo de 15 dígitos.</div>
                    <div th:each="message :  ${#fields.errors('phone')}" class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                        <strong>¡Error!</strong>
                        <label th:text="${message}"></label>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <button id="modalButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">Registrar cliente</button>
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header w-100">
                            <h1 class="modal-title fs-5">¿Está seguro?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body w-100">Registrar un nuevo usuario de rol Cliente.</div>
                        <div class="modal-footer w-100">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</main>
<footer th:insert="fragments/footer-fragment::footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script th:src="@{/js/modal.js}"></script>
</body>
</html>