<header th:fragment="header">
    <nav class="navbar sticky-top bg-white border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand">NESSFIT</a>
            <div class="btn-group dropstart">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Mi cuenta</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/edit-profile}">Editar mi perfil</a></li>
                    <li><a class="dropdown-item" th:href="@{/change-password}">Cambiar contraseña</a></li>
                    <li><a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>